@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #ffe5ec;
}

.content {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fb6f92;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.486);
  border-radius: 5%;
}

input[type="text"],
select,
input[type="date"] {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #ffc2d1;
    color: #fff;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5%;
    width: 50%;
    align-self: center;
    font-family: 'Rubik', sans-serif;
    text-shadow: 2px 2px 4px #000000

}

button:hover {
    background-color: #ff8aa2;
    color: white;
}